@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --primary-color: #e05050;
  --secondary-color: #dadada;
  --clr-blue: #118ab2;
  --clr-yellow: #ffd166;
  --clr-green: #06d6a0;
  --hover-color: #ff9068;
  --paragraph-color: #949495;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "Open Sans", "Roboto", sans-serif;
  background: #171c28;
  color: white;
  background-image: url(/assets/circles3.png);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

nav {
  height: 5rem;
  width: 100%;
  overflow-y: hidden;
}

label.logo {
  line-height: 5rem;
}

label.logo:hover {
  color: var(--hover-color);
}

nav ul {
  float: right;
  margin-right: 1.25rem;
}

nav ul li {
  overflow-y: hidden;

  font-size: 1.1rem;
  display: inline-block;
  line-height: 5rem;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  padding: 0.4375em;
}

nav a:hover {
  color: var(--hover-color);
}

.checkbtn {
  font-size: 1.8rem;
  float: right;
  margin-top: 1.8rem;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.card__links .fa-bars:hover {
  font-size: 2rem;
  color: var(--hover-color);
}

/* === INTRODUCTION SECTION === */

.introduction {
  margin-top: 9rem;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.7rem;
  color: white;
  letter-spacing: 1px;
}

.introduction span {
  color: var(--primary-color);
  font-weight: bold;
}

.introduction span:hover {
  color: var(--hover-color);
}

/* === PROJECTS SECTION === */

.projects {
  margin-top: 10rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 4rem 0;
  height: 40rem;
}

.card__header {
  margin-right: 1em;
}

.card__title {
  margin-bottom: 1em;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.card__description {
  color: var(--paragraph-color);
  margin: 3em 0;
}

.card__link {
  display: inline-block;
  color: var(--primary-color);
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.3em 1em;
  border-radius: 1rem;
}

.card__link:hover {
  color: white;
  background-color: var(--primary-color);
}

.card__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--paragraph-color);
}

.card__info a {
  color: var(--primary-color);
}

.card__body {
  display: grid;
  align-items: center;
  background-color: var(--clr-blue);
  height: 30rem;
  max-height: 100%;
  padding: 0 2em;
  border-radius: 1em;
}

.card__img {
  min-height: 20rem;
  object-fit: contain;
}

.--yellow {
  background-color: var(--clr-yellow);
}

.--green {
  background-color: var(--clr-green);
}

.--order {
  order: 1;
  margin: 0 0 0 3rem;
}

/* === EXPERIENCES  === */

.experience {
  padding: 2em 0;
}

.experience__card {
}

.experience__body {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2em;
  border-radius: 1rem;
}

.experience__title {
  margin-bottom: 1em;
}

.experience__role {
  margin-bottom: 1em;
  line-height: 2;
}

.experience__item {
  line-height: 1.6;
  letter-spacing: 0.4px;
}

/* === TECHONOGLIES === */

.techonologies {
  padding: 2em 0;
}

.techonologies__title {
  margin-bottom: 1em;
}

.technologies__body {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2em;
  border-radius: 1rem;
  line-height: 2;
}

.technology__description a {
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: underline;
}
/* === ABOUT SECTION === */

footer {
  border-top: 1px solid var(--paragraph-color);
  padding: 2em 0;
}

footer ul {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

footer ul li {
  align-self: center;
  margin-left: 10px;
}

footer ul li i {
  font-size: 28px;
  color: white;
}

footer ul li i:hover {
  color: var(--hover-color);
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }

  nav {
    display: block;
  }

  .logo {
    display: none;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #171c28;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
  }

  .card__header {
    margin: 0;
    order: 2;
  }

  .card__link {
    margin-top: 1rem;
  }

  .card__title {
    font-size: 1.5rem;
    margin-top: 1em;
    margin-bottom: 0;
  }

  .card__description {
    margin: 1em 0;
  }

  .card__body {
    height: auto;
    order: 1;
  }

  .card__info {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card__info a + span {
    margin: 0.7em 0;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-50%);
}

.from-right {
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}
